<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<title>Home | Wise</title>
</head>
<body>
<br>
<center><h2>Welcomes</h2></center>
<hr size="4" color=blue >

  {% load crispy_forms_tags %}  
        
        <div class="container mt-9">
          <!--Django Model Form-->
          <h1 style="color:red;" class="my-4"><center>Add a New Skill Student</center></h1>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{skill_student_form|crispy}}
                <button class="btn btn-primary my-4" type="submit">Submit</button>
          </form>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>




new

















      <tr>
                                            <th style="margin-right: 5%;">
                                Form No
                            </th>
                             <td style="text-align: right">
                                <input style="width: 60%; margin-left: 23%" class="form-control" required type="text" name="company", placeholder="Enter Form No...">
                             </td>
                         </tr>
      <tr>
                                            <th style="margin-right: 5%;">
                                Name
                            </th>
                             <td style="text-align: right">
                                <input style="width: 60%; margin-left: 23%" class="form-control" required type="text" name="company", placeholder="Enter Name...">
                             </td>
                         </tr>
      
                   <tr >
                       <th>
                        Photograph
                       </th>
                       <td >
                            <input accept=".enc" name="post_file" required style="margin-left: 10%; width: 80%" type="file" class="form-control" id="customFile" />

                       </td>
                   </tr>

                              <tr>
                                            <th style="margin-right: 5%;">
                                Gender
                            </th>
                                <td style="text-align: right">
                                <select   style="width: 60%; margin-left: 23%" name="position" class="form-select" aria-label="Default select example">
                                    
                                    {% for a in JobPosition %}
                                        <option value={{a.id}}>{{a.job_title}}</option>
                                    {% endfor %}
                                
                                </select>
                            </td>
                         </tr>
      <tr>
                                            <th style="margin-right: 5%;">
                                Father Name
                            </th>
                             <td style="text-align: right">
                                <input style="width: 60%; margin-left: 23%" class="form-control" required type="text" name="company", placeholder="Enter Father Name...">
                             </td>
                         </tr>
      <tr>
                                            <th style="margin-right: 5%;">
                                Cnic or B form No
                            </th>
                             <td style="text-align: right">
                                <input style="width: 60%; margin-left: 23%" class="form-control" required type="text" name="company", placeholder="Enter Cnic/Bform No...">
                             </td>
                         </tr>
      <tr>
                                            <th style="margin-right: 5%;">
                                Email
                            </th>
                             <td style="text-align: right">
                                <input style="width: 60%; margin-left: 23%" class="form-control" required type="text" name="company", placeholder="Enter Email...">
                             </td>
                         </tr>
      <tr>
                                            <th style="margin-right: 5%;">
                                Domicile
                            </th>
                             <td style="text-align: right">
                                <input style="width: 60%; margin-left: 23%" class="form-control" required type="text" name="company", placeholder="Enter Domicile...">
                             </td>
                         </tr>
      <tr>
                                            <th style="margin-right: 5%;">
                                Date of birth
                            </th>
                             <td style="text-align: right">
                                <input style="width: 60%; margin-left: 23%" class="form-control" id="date" required type="date" name="upload_date">
                             </td>

                         </tr>
      <tr>
                                            <th style="margin-right: 5%;">
                                Pre qualification:
                            </th>
                              <td style="text-align: right">
                                <select   style="width: 60%; margin-left: 23%" name="position" class="form-select" aria-label="Default select example">
                                    
                                    {% for a in JobPosition %}
                                        <option value={{a.id}}>{{a.job_title}}</option>
                                    {% endfor %}
                                
                                </select>
                            </td>
                         </tr>


                <tr>
                                            <th style="margin-right: 5%;">
                                Residencial status:
                            </th>
                                 <td style="text-align: right">
                                <select   style="width: 60%; margin-left: 23%" name="position" class="form-select" aria-label="Default select example">
                                    
                                    {% for a in JobPosition %}
                                        <option value={{a.id}}>{{a.job_title}}</option>
                                    {% endfor %}
                                
                                </select>
                            </td>
                         </tr>

                                                     <th style="margin-right: 5%;">
                                Area
                            </th>
                             <td style="text-align: right">
                                <input style="width: 60%; margin-left: 23%" class="form-control" required type="text" name="company", placeholder="Enter Area...">
                             </td>
                         </tr>
                                                     <th style="margin-right: 5%;">
                                Laptop
                            </th>
                             <td style="text-align: right">
                                <input style="width: 60%; margin-left: 23%" class="form-control" required type="text" name="company", placeholder="Enter Name...">
                             </td>
                         </tr>
                                                     <th style="margin-right: 5%;">
                                Computer at Home

                            </th>
                             <td style="text-align: right">
                                <input style="width: 60%; margin-left: 23%" class="form-control" required type="text" name="company", placeholder="Enter Name...">
                             </td>
                         </tr>
                                                     <th style="margin-right: 5%;">
                                Shift
                            </th>
                                  <td style="text-align: right">
                                <select   style="width: 60%; margin-left: 23%" name="position" class="form-select" aria-label="Default select example">
                                    
                                    {% for a in JobPosition %}
                                        <option value={{a.id}}>{{a.job_title}}</option>
                                    {% endfor %}
                                
                                </select>
                            </td>
                         </tr>
                        <tr>
                                                        <th style="margin-right: 5%;">
                                Program of interest
                            </th>
                                <td style="text-align: right">
                                <select   style="width: 60%; margin-left: 23%" name="position" class="form-select" aria-label="Default select example">
                                    
                                    {% for a in JobPosition %}
                                        <option value={{a.id}}>{{a.job_title}}</option>
                                    {% endfor %}
                                
                                </select>
                            </td>
                         </tr>
                                                     <th style="margin-right: 5%;">
                                Transportation
                            </th>
                                  <td style="text-align: right">
                                <select   style="width: 60%; margin-left: 23%" name="position" class="form-select" aria-label="Default select example">
                                    
                                    {% for a in JobPosition %}
                                        <option value={{a.id}}>{{a.job_title}}</option>
                                    {% endfor %}
                                
                                </select>
                            </td>
                         </tr>
                            <th>
                                Job
                            </th>
                            <td style="text-align: right">
                                <select   style="width: 60%; margin-left: 23%" name="position" class="form-select" aria-label="Default select example">
                                    
                                    {% for a in JobPosition %}
                                        <option value={{a.id}}>{{a.job_title}}</option>
                                    {% endfor %}
                                 

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th style="margin-right: 5%;">
                                Phoneno
                            </th>
                                  <td style="text-align: right">
                                <select   style="width: 60%; margin-left: 23%" name="position" class="form-select" aria-label="Default select example">
                                    
                                    {% for a in JobPosition %}
                                        <option value={{a.id}}>{{a.job_title}}</option>
                                    {% endfor %}
                                
                                </select>
                            </td>
                         </tr>
                       
                        <tr>
                            <th style="margin-right: 5%;">
                                Currentstudy
                            </th>
                              <td style="text-align: right">
                                <select   style="width: 60%; margin-left: 23%" name="position" class="form-select" aria-label="Default select example">
                                    
                                    {% for a in JobPosition %}
                                        <option value={{a.id}}>{{a.job_title}}</option>
                                    {% endfor %}
                                
                                </select>
                            </td>
                         </tr>

                        <tr>
                            <th style="margin-right: 5%;">
                                Shortcoursetaken:
                            </th>
                                 <td style="text-align: right">
                                <select   style="width: 60%; margin-left: 23%" name="position" class="form-select" aria-label="Default select example">
                                    
                                    {% for a in JobPosition %}
                                        <option value={{a.id}}>{{a.job_title}}</option>
                                    {% endfor %}
                                
                                </select>
                            </td>
                         </tr>
                          <tr>
                            <th style="margin-right: 5%;">
                                Admission status:
                            </th>
                              <td style="text-align: right">
                                <select   style="width: 60%; margin-left: 23%" name="position" class="form-select" aria-label="Default select example">
                                    
                                    {% for a in JobPosition %}
                                        <option value={{a.id}}>{{a.job_title}}</option>
                                    {% endfor %}
                                
                                </select>
                            </td>
                         </tr>








