{% block css %}
<style>
	h1{
		text-align: center;
		color: #094a89;

	}
	table{
		border-collapse: collapse;
		width: 100%;
		text-align: center;
		font-size: 20px;
	}
	th{
		background-color: #094a89;
		color: white;

	}
	th, td{
		border: 2px solid #ddd;

	}

</style>
{% endblock%}

{% block body %}

<h1 class="mt-4">Skill Students List</h1>
<div class="users-table mt-4">
	<table>
		<tbody>
			<tr>
				<th>ID</th>
				<th>Form No</th>

				<th>Full Name</th>
				<th>Date of Birth</th>
				
				<th>Application</th>
			</tr>
			{% for user in allUsers %}
			<tr>
				<td>{{user.id}}</td>
				<td>{{user.form_no}}</td>

				<td>{{user.name}}</td>
				<td>{{user.date_of_birth}}</td>

				<td><a href="/skill_detail_view/{{user.id}}/" class="=btn btn-warning">View </a></td>

								<td><a href="/update/{{user.id}}" class="=btn btn-warning">Update </a></td>

			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endblock %}

