{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div
    style="
    text-align: left;
    width:40%;
    margin:0px auto;
    margin-bottom: 3%;
    padding: 2%;
    border-style: solid;
    border-radius: 8%;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px">
        
        <h1 style="text-align: center;">Register Skill Student</h1>
        <p style="text-align: center;">Add a skill student here</p>
        <div>
            <form action="{% url 'addskillstudentview' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <table class="table">
                    {{ skill_student_form }}
                    {{ form.media }}
                </table>
                    
                <input value="Register" type="submit" style="width: 50%;" class="btn btn-outline-primary mx-auto d-block">                            

                
            </form>
        </div>
</div>

{% for message in messages %}
    {{ message }}
{% endfor %}


<script type="text/javascript">
    document.getElementById('id_date_of_birth').type = 'date';
    document.getElementById('id_date_applied').type = 'date';
    document.getElementById('id_created_by').value = '{{ user.get_username }}';
    document.getElementById('id_created_by').readOnly = true;
    document.getElementById('id_updated_by').readOnly = true;

    //  Adding * for required fields in the template
    //  Required fields are : Name and Pre Qualification
    var name_label = document.getElementsByTagName('label')[1];
    name_label.innerHTML="Name *";
    var prequalification_label = document.getElementsByTagName('label')[2];
    prequalification_label.innerHTML="Pre Qualification *";
</script>

{% endblock content %}