{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for message in messages %}
    {{ message }}
{% endfor %}

<br>
<div
    style="
    text-align: left;
    width:40%;
    margin:0px auto;
    margin-bottom: 3%;
    padding: 2%;
    border-style: solid;
    border-radius: 8%;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px">
        
        <h1 style="text-align: center;">Register Skill Student</h1>
        <p style="text-align: center;">Add a skill student here</p>

        <div>
            <form action="{% url 'addskillstudentview' %}" method="POST" enctype="multipart">
                {% csrf_token %}
                <table class="table">
                    <tr><th>Name</th>
                        <td>
                            <input type="text" name="name" required>
                            <div><small>complete name</small></div>
                        </td>
                    </tr>
                    <tr><th>Phone 1</th>
                        <td>
                            <input type="tel" name="personal_phone_no_1" pattern="[0-9]{4}-[0-9]{7}" required>
                            <div><small>format: xxxx-xxxxxxx</small></div>
                        </td>
                    </tr>
                    <tr><th>Phone 2</th>
                        <td>
                            <input type="tel" name="personal_phone_no_2"  pattern="[0-9]{4}-[0-9]{7}" >
                            <div><small>format: xxxx-xxxxxxx</small></div>
                        </td>
                    </tr>
                    <tr><th>Area</th><td><input type="text" name="area" required></td></tr>
                    <tr><th>Laptop</th>
                        <td>
                            <label for="1">Yes</label>
                            <input type="radio" id="1" name="laptop" value="True" required>
                            <label for="2">No</label>
                            <input type="radio" id="2" name="laptop" value="False" required>
                        </td>
                    </tr>
                    <tr><th>Available From</th>
                        <td>
                            <input type="time" name="availability_from" required>
                            <div><small>student availability time details</small></div>
                        </td>
                    </tr>
                    <tr><th>Available To</th>
                        <td>
                            <input type="time" name="availabitity_to" required>
                            <div><small>student availability time details</small></div>
                        </td>
                    </tr>
                    <tr><th>Date Applied</th><td><input type="date" name="date_applied" required></td></tr>
                    <!-- <tr><th>Pre-Qualification</th><td><input type="text" name="pre_qualification" required></td></tr> -->
                    <tr>
                        <th>Pre-Qualification</th>
                        <td>
                            <select name="pre_qualification" required>
                                {% for option in skill_student_form.pre_qualification %}
                                    {{ option }}
                                {% endfor %}
                            </select>
                            <div><small>last degree or certificate</small></div>
                        </td>
                    </tr>
                    <tr><th>Currently Studying</th>
                        <td>
                            <input type="text" name="currently_studying" required>
                            <div><small>currently pursuing degree program</small></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Admission Status</th>
                        <td>
                            <select name="admission_status" required>
                                <option value="Contacted Virtually">Contacted Virtually</option>
                                <option value="Reception Appearance">Reception Appearance</option>
                                <option value="Internal Interview">Internal Interview</option>
                                <option value="External Interview">External Interview</option>
                                <option value="Admitted">Admitted</option>
                                <option value="Rejected">Rejected</option>
                                <option value="Awaiting">Awaiting</option>
                                <option value="Drop out">Drop out</option>
                                <option value="Pass out">Pass out</option>
                        </td>
                    </tr>
                </table>
                <input value="Register" type="submit" style="width: 50%;" class="btn btn-outline-primary mx-auto d-block">
            </form> 
        </div>
</div>

<script type="text/javascript">
    // making start and end timings a time-field
    document.getElementById('id_availability_from').type = 'time';
    document.getElementById('id_availabitity_to').type = 'time';
    document.getElementById('id_date_applied').type = 'date';
</script>

{% endblock content %}