{% extends 'base.html' %}
{% load static %}
{% block content %}
  
<div
    style="
    text-align: left;
    width:50%;
    margin:0px auto;
    margin-bottom: 3%;
    padding: 2%;
    border-style: solid;
    border-radius: 8%;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px">
        
        <h2 style="text-align: center; background: whitesmoke;">Update Employment Details</h2>
        <br>
        
        <div>
                <form method="POST" action="">
                        {% csrf_token %}
                        <table class="table">
                                {{form}}
                        </table>
                        <input value="Update" type="submit" style="width: 50%;" class="btn btn-outline-primary mx-auto d-block">                            
                </form>
                <br>
                <!-- Deleting the current appearing job object -->
                <input value="Delete"  style="width: 50%;"  type="button"  onclick="confirmdelete()" class="btn btn-outline-danger mx-auto d-block">

         </div>

</div>

<script>
        function confirmdelete()
        {
          confirmation_status = confirm('Are You Sure ???');
          if (confirmation_status==true){
                return onclick(location.href='{% url 'delete_job' job_id student_id %}')
          }
        }
</script>

<script type="text/javascript">
        // making start and end timings a time-field
        document.getElementById('id_start_timings').type = 'time';
        document.getElementById('id_end_timings').type = 'time';
        document.getElementById('id_updated_by').value = '{{ user.get_username }}';
        document.getElementById('id_created_by').readOnly = true;
        document.getElementById('id_updated_by').readOnly = true;
</script>

{% endblock content %}