{% extends 'base.html' %}
{% block content %}
   
<div
    style="
    text-align: left;
    width:40%;
    margin:0px auto;
    margin-bottom: 3%;
    padding: 2%;
    border-style: solid;
    border-radius: 8%;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px">
        
    <h2 style="text-align: center; background: whitesmoke;">Update Short Course Information</h2>
    <br>
    <div>
        <form method="POST" action="">
                {% csrf_token %}
                 <table class="table">
                    {{form}}
                </table>
                <button style="width: 50%;" type="submit" class="btn btn-outline-primary mx-auto d-block"  >Update</button>
                <br>
        </form>
        <!-- <input value="Delete"  style="width: 50%;"  type="button"  onclick=" location.href='{% url 'delete_shortcoursetaken' id student_id %}'" class="btn btn-outline-danger mx-auto d-block"> -->
        <input value="Delete"  style="width: 50%;"  type="button"  onclick="confirmdelete()" class="btn btn-outline-danger mx-auto d-block">

    </div>

</div>

<script type="text/javascript">
    document.getElementById('id_start_date').type = 'date';
    document.getElementById('id_end_date').type = 'date';
    document.getElementById('id_created_by').readOnly=true;
    document.getElementById('id_updated_by').value = '{{ user.get_username }}';
    document.getElementById('id_updated_by').readOnly=true;
</script>

<script>
    function confirmdelete()
    {
      confirmation_status = confirm('Are You Sure ???');
      if (confirmation_status==true){
        return onclick(location.href='{% url 'delete_shortcoursetaken' id student_id %}')
      }
    }
</script>
{% endblock content %}