{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile Page</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
    <!-- css -->
    <link href="../../static/admissionsystem/css/update_skill_detail_view.css" rel="stylesheet">
    <!-- dele -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="http://t4t5.github.io/sweetalert/dist/sweetalert.css">
  </head>
  <body>
    <header class="ScriptHeader">
      <div class="rt-container">
        <div class="col-rt-12">
          <div class="rt-heading"></div>
        </div>
      </div>
    </header>
    <section>
      <div class="rt-container">
        <div class="col-rt-12">
          <div class="Scriptcontent">
            <!-- Student Profile -->
            <div class="student-profile py-4">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent text-center"> {% if skill_std_form.photograph %} <img class="profile_img" src="{{skill_std_form.photograph.url}}" alt="student dp"> {% endif %} <h3>{{skill_std_form.name}}</h3>
                      </div>
                      <div class="card-body">
                        <!-- <p class="mb-0"><strong class="pr-1">Student id:</strong>{{skill_std_form.id}}</p> -->
                        <!-- <p class="mb-0"><strong class="pr-1">Class:</strong>4</p> -->
                        <p class="mb-0">
                          <strong class="pr-1">Student id:</strong>{{skill_std_form.id}}
                        </p>
                        <p class="mb-0">
                          <strong class="pr-1">Form No:</strong>{{skill_std_form.form_no}}
                        </p> 
                        {% if skill_std_form.cnic %} 
                        <p class="mb-0">
                          <strong class="pr-1">Cnic No:</strong>{{skill_std_form.cnic}}
                        </p> 
                        {% else %} 
                        <p class="mb-0">
                          <strong class="pr-1">B-Form No:</strong>{{skill_std_form.b_form}}
                        </p> 
                        {% endif %} 
                        <br>
                        <!-- Delete Button -->
                        <input value="Delete" type="button" style="width: 50%;" onclick="confirmdelete()" class="btn btn-lg btn-outline-danger mx-auto d-block">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0">
                          <i class="far fa-clone pr-1"></i>Personal Information
                        </h3>
                        <div class="col-md-12 text-right">
                          <input value="Update" type="button" onclick="location.href='{% url 'update_skill_student' skill_std_form.id %}'" class="btn btn-sm btn-outline-success ">
                        </div>
                      </div>
                      <div class="card-body pt-0">
                        <table class="table table-bordered">
                          <tr>
                            <th width="22%">Name</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.name}}</td>
                            <th width="22%">Father Name</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.father_Name}}</td>
                          </tr>
                          <tr>
                            <th width="22%">Gender</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.gender}}</td>
                            <th width="22%">Cnic</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.cnic}}</td>
                          </tr>
                          <tr>
                            <th width="22%">B-Form</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.b_form}}</td>
                            <th width="22%">Date of Birth</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.date_of_birth}}</td>
                          </tr>      
                          <tr>
                            <th width="22%">Information Source</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.information_source}}</td>
                            <th width="22%">Email</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.email}}</td>
                          </tr>
                          <tr>
                            <th width="22%">residencial Status</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.residencial_status}}</td>
                            <th width="22%">Domicile</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.domicile}}</td>
                          </tr>
                          <tr>
                            <th width="22%">Transportation</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.transportation}}</td>
                            <th width="22%">Computer at Home</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.computer_at_Home}}</td>
                          </tr>
                          <tr>
                            <th width="22%">Laptop at Home</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.laptop}}</td>
                            <th width="23%">Pre Qualification</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.pre_qualification}}</td>
                          </tr>
                          <tr>
                            <th width="22%">Address</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.address}}</td>
                            <th width="22%">Area</th>
                            <td width="2%">:</td>
                            <td>{{skill_std_form.area}}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div style="height: 26px"></div>
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0">
                          <i class="far fa-clone pr-1"></i>Contact Information
                        </h3>
                        <div class="col-md-12 text-right">
                          <input value="Update" type="button" onclick="location.href='{% url 'update_phone_no' skill_std_form.id %}'" class="btn btn-sm btn-outline-success">
                        </div>
                      </div>
                      <div class="card-body pt-0">
                        <table class="table table-bordered">
                          <tr>
                            <th width="30%">Personal Phone No 1</th>
                            <td width="2%">:</td>
                            <td>{{ phone_no_form.personal_phone_no_1 }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Personal Phone No 2</th>
                            <td width="2%">:</td>
                            <td>{{ phone_no_form.personal_phone_no_2 }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Father Phone No</th>
                            <td width="2%">:</td>
                            <td>{{ phone_no_form.father_phone_no }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Mother Phone No</th>
                            <td width="2%">:</td>
                            <td>{{ phone_no_form.mother_phone_no }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Emergency Phone No</th>
                            <td width="2%">:</td>
                            <td>{{ phone_no_form.emergency_phone_no }}</td>
                          </tr>
                          <!-- <tr>
                            <th width="30%">Created By</th>
                            <td width="2%">:</td>
                            <td>{{ phone_no_form.created_by }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Updated By</th>
                            <td width="2%">:</td>
                            <td>{{ phone_no_form.updated_by }}</td>
                          </tr> -->
                        </table>
                      </div>
                    </div>
                    <div style="height: 26px"></div>
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0">
                          <i class="far fa-clone pr-1"></i>Availability Details
                        </h3>
                        <div class="col-md-12 text-right">
                          <input value="Add New" type="button" onclick="location.href='{% url 'studentavailabilityview' skill_std_form.id %}'" class="btn btn-sm btn-success">
                        </div>
                      </div>
                      <div class="card-body pt-0">
                        <table class="table table-bordered"> {% for availability in availability_form %} <tr>
                            <th width="30%">
                              <div class=" text-center">{{ forloop.counter }}</div>
                            </th>
                            <td width="2%">:</td>
                            <td>
                              <div class="col-md-12 text-right">
                                <input value="Update" type="button" onclick="location.href='{% url 'update_studentavailability' availability.id %}'" class="btn btn-sm btn-outline-success ">
                              </div>
                            </td>
                          <tr>
                            <th width="30%">Available From</th>
                            <td width="2%">:</td>
                            <td>{{ availability.available_from }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Available To</th>
                            <td width="2%">:</td>
                            <td>{{ availability.available_to }}</td>
                          </tr>
                          <!-- <tr>
                            <th width="30%">Created By</th>
                            <td width="2%">:</td>
                            <td>{{ availability.created_by }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Updated By</th>
                            <td width="2%">:</td>
                            <td>{{ availability.updated_by }}</td>
                          </tr> -->
                          </tr> {% endfor %}
                        </table>
                      </div>
                    </div>
                    <div style="height: 26px"></div>
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0">
                          <i class="far fa-clone pr-1"></i>Currently Studying
                        </h3>
                        <div class="col-md-12 text-right">
                          <input value="Update" type="button" onclick="location.href='{% url 'update_current_study' skill_std_form.id %}'" class="btn btn-sm btn-outline-success ">
                        </div>
                      </div>
                      <div class="card-body pt-0">
                        <table class="table table-bordered">
                          <tr>
                            <th width="30%">Program</th>
                            <td width="2%">:</td>
                            <td>{{current_study_form.program}}</td>
                          </tr>
                          <tr>
                            <th width="30%">Institute</th>
                            <td width="2%">:</td>
                            <td>{{current_study_form.institute}}</td>
                          </tr>
                          <tr>
                            <th width="30%">Semester</th>
                            <td width="2%">:</td>
                            <td>{{current_study_form.semester}}</td>
                          </tr>
                          <tr>
                            <th width="30%">Start Timings</th>
                            <td width="2%">:</td>
                            <td>{{current_study_form.start_timings}}</td>
                          </tr>
                          <tr>
                            <th width="30%">End Timings</th>
                            <td width="2%">:</td>
                            <td>{{current_study_form.end_timings}}</td>
                          </tr>
                          <tr>
                            <th width="30%">Institute Address</th>
                            <td width="2%">:</td>
                            <td>{{current_study_form.institute_Address}}</td>
                          </tr>
                          <tr>
                            <th width="30%">CGPA</th>
                            <td width="2%">:</td>
                            <td>{{current_study_form.CGPA}}</td>
                          </tr>
                          <!-- <tr>
                            <th width="30%">Created By</th>
                            <td width="2%">:</td>
                            <td>{{ current_study_form.created_by }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Updated By</th>
                            <td width="2%">:</td>
                            <td>{{ current_study_form.updated_by }}</td>
                          </tr> -->
                        </table>
                      </div>
                    </div>
                    <div style="height: 26px"></div>
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0">
                          <i class="far fa-clone pr-1"></i>Short Course Information
                        </h3>
                        <div class="col-md-12 text-right">
                          <input value="Add New" type="button" onclick="location.href='{% url 'shortcoursetaken' skill_std_form.id %}'" class="btn btn-sm btn-success">
                        </div>
                      </div>
                      <div class="card-body pt-0">
                        <table class="table table-bordered"> {% for form in short_course_taken_form %} <tr>
                            <th width="30%">
                              <div class=" text-center">{{ forloop.counter }}</div>
                            </th>
                            <td width="2%">:</td>
                            <td>
                              <div class="col-md-12 text-right">
                                <input value="Update" type="button" onclick="location.href='{% url 'update_shortcourse_taken' form.id %}'" class="btn btn-sm btn-outline-success ">
                              </div>
                            </td>
                          <tr>
                            <th width="30%">Course Name</th>
                            <td width="2%">:</td>
                            <td>{{ form.course_name }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Course Type</th>
                            <td width="2%">:</td>
                            <td>{{ form.course_type }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Institute Name</th>
                            <td width="2%">:</td>
                            <td>{{ form.institute_name }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Start Date</th>
                            <td width="2%">:</td>
                            <td>{{ form.start_date }}</td>
                          </tr>
                          <tr>
                            <th width="30%">End Date</th>
                            <td width="2%">:</td>
                            <td>{{ form.end_date }}</td>
                          </tr>
                          <!-- <tr>
                            <th width="30%">Created By</th>
                            <td width="2%">:</td>
                            <td>{{ form.created_by }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Updated By</th>
                            <td width="2%">:</td>
                            <td>{{ form.updated_by }}</td>
                          </tr> -->
                          </tr> {% endfor %}
                        </table>
                      </div>
                    </div>
                    <div style="height: 26px"></div>
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0">
                          <i class="far fa-clone pr-1"></i>Employment Details
                        </h3>
                        <div class="col-md-12 text-right">
                          <input value="Add New" type="button" onclick="location.href='{% url 'jobview' skill_std_form.id %}'" class="btn btn-sm btn-success ">
                        </div>
                      </div>
                      <div class="card-body pt-0">
                        <table class="table table-bordered"> {% for job in job_form %} <tr>
                            <th width="30%">
                              <div class=" text-center">{{ forloop.counter }}</div>
                            </th>
                            <td width="2%">:</td>
                            <td>
                              <div class="col-md-12 text-right">
                                <input value="Update" type="button" onclick="location.href='{% url 'update_job' job.id %}'" class="btn btn-sm btn-outline-success">
                              </div>
                            </td>
                          <tr>
                            <th width="30%">Position</th>
                            <td width="2%">:</td>
                            <td>{{ job.position }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Company</th>
                            <td width="2%">:</td>
                            <td>{{ job.company }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Start Timings</th>
                            <td width="2%">:</td>
                            <td>{{ job.start_timings }}</td>
                          </tr>
                          <tr>
                            <th width="30%">End Timings</th>
                            <td width="2%">:</td>
                            <td>{{ job.end_timings }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Salary</th>
                            <td width="2%">:</td>
                            <td>{{ job.salary }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Company Address</th>
                            <td width="2%">:</td>
                            <td>{{ job.company_address }}</td>
                          </tr>
                          <!-- <tr>
                            <th width="30%">Created By</th>
                            <td width="2%">:</td>
                            <td>{{ job.created_by }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Updated By</th>
                            <td width="2%">:</td>
                            <td>{{ job.updated_by }}</td>
                          </tr> -->
                          </tr> {% endfor %}
                        </table>
                      </div>
                    </div>
                    <div style="height: 26px"></div>
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0">
                          <i class="far fa-clone pr-1"></i>Query Information
                        </h3>
                      </div>
                      <div class="col-md-12 text-right">
                        <td>
                          <input value="Add New" type="button" onclick="location.href='{% url 'add_query' skill_std_form.id %}'" class="btn btn-sm btn-success">
                        </td>
                      </div>
                      <div class="card-body pt-0">
                        <br>
                        <table class="table table-bordered"> {% for query in query_form %} <tr>
                            <th width="30%">Query: {{ forloop.counter }}</th>
                            <td width="2%">:</td>
                            <td>{{ query.query }}</td>
                            <td>
                              <div class="col-md-12 text-right">
                                <input value="Update" type="button" onclick="location.href='{% url 'update_query' query.id %}'" class="btn btn-sm btn-outline-success ">
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <th width="30%">Reply</th>
                            <td width="2%">:</td>
                            <td>{{ query.reply }}</td>
                          </tr>
                          {% endfor %}
                        </table>
                      </div>
                      <div style="height: 26px"></div>
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0">
                          <i class="far fa-clone pr-1"></i>Already Registered Details
                        </h3>
                        <div class="col-md-12 text-right">
                          <input value="Add New" type="button" onclick="location.href='{% url 'alreadyregisteredwithcoursebodyview' skill_std_form.id %}'" class="btn btn-sm btn-success">
                        </div>
                      </div>
                      <div class="card-body pt-0">
                        <table class="table table-bordered"> {% for alreadY_registered_object in already_registered_form %} <tr>
                            <th width="30%">
                              <div class=" text-center">{{ forloop.counter }}</div>
                            </th>
                            <td width="2%">:</td>
                            <td>
                              <div class="col-md-12 text-right">
                              <input value="Update" type="button" onclick="location.href='{% url 'updatealreadyregisteredwithcoursebody' alreadY_registered_object.id %}'" class="btn btn-sm btn-outline-success ">
                            </div>
                          </td>
                          <tr>
                            <th width="30%">Already registered with</th>
                            <td width="2%">:</td>
                            <td>{{ alreadY_registered_object.course_body }}</td>
                          <!-- </tr>
                            <th width="30%">Created By</th>
                            <td width="2%">:</td>
                            <td>{{ alreadY_registered_object.created_by }}</td>
                          </tr>
                          <tr>
                            <th width="30%">Updated By</th>
                            <td width="2%">:</td>
                            <td>{{ alreadY_registered_object.updated_by }}</td>
                          </tr> -->
                          </tr> {% endfor %}
                        </table>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
<script>
  function confirmdelete() {
    confirmation_status = confirm('Are You Sure ???');
    if (confirmation_status == true) {
      return onclick(location.href = '{% url 'delete_skill_student' skill_std_form.id %}')
    }
  }
</script> {% endblock %}